<tr class="twoColumn">
  <td colspan="2">
    <div class="leftPanel">
      <div class="ContactFieldWidget edit separator twoColumn noborder">
        <div>
          <div class="ContactInputWidget">
            <div class="fieldHolder">
              <div class="nmbl-CustomFieldSeparator">
                <div class="valueHolder">
                  <div style="clear:both;"></div>
                  <div class="blockHeader resolutionMin">{ title }</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div aria-hidden="true" style="display: none;"><a class="addField">{ title }</a></div>
      </div>
    </div>
  </td>
</tr>